body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBlocks {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 2px solid black;
    visibility: hidden;

}

.gameBlocks>div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .three,
.four {
    background-color: aqua;

} */



#hurray {
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 20px
}

.formP {
    position: relative;
}